*,
*::before,
*::after {
    box-sizing: border-box;
} 

:root {
    --ff-primary: 'Lato', sans-serif; 
    --ff-secondary: 'Source Sans Pro', sans-serif; 

    --color-text: #ffffff; 
    --color-accent: lightgray;  

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem; 
    --fs-body: 1rem;

    --bs: 0.25em .25em .75em rgba(0, 0, 0, .65), 
          0.125em 0.125em .25em rgba(104, 7, 7, 0.45); 
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.0rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem; 
        --fs-body: 1.125rem;
    }
}

body {
    /* background-image: url("/images/background.jpg"); */
    color: var(--color-text); 
    margin: 0; 
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.4; 
}

img {
    display: block; 
    max-width: 100%; 
    /* Image code below is personalized */
    max-height: 500px; 
    height: auto; 
    /* border-radius: 125%; */
    /* background-color: #005957; */
}

h1, h2, h3 {
    line-height: 1;
    margin: 0; 
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3); 
}

header {
    padding: 0; 
}

/* section {
    padding: 2em 1em; 
} */

.section__title {
    margin-bottom: .25em;
}

.section__subtitle {
    font-size: var(--fs-h3);
    margin: 0; 
}

.intro-text__container {
    /* background-image: url("/images/background.jpg");
    background-color: var(--color-accent);  */
    /* background-color: #2d4159; */
    /* background-color:#48111E;  */
    /* background-color: #005957; */
    opacity: 1;
    /* border: .4rem solid black;  */
    /* border-radius: 10px; */
    color: black; 
}

.intro__subtitle, 
.about-me__subtitle {
    /* background-color: var(--color-accent); */
    font-family: var(--ff-secondary);
    /* margin-bottom: 1em;
    padding: .25em 1em;  */
}

.intro__subtitle {
    display: inline-block;
}

.intro {
    position: relative;
    background: linear-gradient(#EAE7DC, grey);
}

.nav {
    /* display: none;  */
    background-color: black;
}

.intro__image {
    /* box-shadow: var(--bs); */
    /* margin: 2em auto; */
}

@media (min-width: 600px){
    .intro {
        /* display: flex;
        justify-content: space-between; */
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        /* grid-template-areas: 
        ". img title"
        ". img title";  */
        margin: 0 0 5rem 0; 
        align-items: center;
        padding: 8rem 4rem 0rem 0rem; 
    }

    .intro__image {
        /* grid-area: img; */
        grid-column: 1/2;
        min-width: 500px; 
        margin: auto; 
        z-index: 2;
    }

    .intro-text__container {
        /* display: flex; 
        flex-wrap: wrap; */
        /* justify-content: start; */
        /* justify-self: start;  */
        /* grid-area: title;  */
        grid-column: 2/4; 
        /* position: relative;  */
        text-transform: uppercase;
        max-width: 98%;
        /* justify-self: end; */
        /* padding: 0rem 10rem 10rem 0rem;  */
    } 
/*     
     .intro__title {
        display: flex;
        justify-self: center;
     }

     .intro__subtitle {
        display: flex;
        justify-self: center;
     } */
        
        /* flex-wrap: wrap; */
        /* align-self: flex-end; */
        /* text-align: start; */
        /* padding-left: 10rem;
        padding-top: 5rem; */
        /* padding: 0rem 10rem 10rem 0rem;  */

   /* } */
}