*,
*::before,
*::after {
    box-sizing: border-box;
} 

/* Custom Properties */

:root {
    --ff-primary: 'Lato', sans-serif; 
    --ff-secondary: 'Source Sans Pro', sans-serif; 

    --fw-regular: 300; 
    --fw-bold: 900; 

    --color-light: #ffffff; 
    --color-dark: #303030;  
    --color-accent: #bbdde1; 

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem; 
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem; 
        --fs-body: 1.125rem;
    }
}

/* General Styles */

body {
    background-color: var(--color-light);
    color: var(--color-dark); 
    margin: 0; 
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6; 
}

section {
    padding: 5em 2em;
}

/* Keeping right and top padding off the intro section */
/* Probably only need to do this at larger screen sizes */

.intro {
    padding: 15em 0em 0em 2em; 
}

img {
    display: block; 
    max-width: 100%; 
}


.btn {
    display: inline-block; 
    padding: .5em 2.5em;
    background-color: var(--color-accent);
    text-decoration: none;
    color: var(--color-dark);
    /* text-transform: uppercase; */
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}
/* Typography */

h1, 
h2, 
h3 {
    line-height: 1;
    margin: 0; 
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3); 
}

/* Probably do no need this because don't have regular font weight set for intro title like tutorial  */

strong {
    font-weight: var(--fw-bold);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--ff-reg);
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--about {
    background-color: var(--color-accent);
}

/* Header */

nav {
    display: none; 
}

/* Intro Section */

.intro {
    position: relative; 
    /* margin-bottom: 5em;  */
}

/* Skills */

.skill {
    margin: 1.5em 0;
}

/* May need to change this breakpoint depending on pics and text */
/* Look at area that text starts to overlap with picture */

@media (min-width: 600px) {

    .intro__container {
        display: grid; 
        grid-column-gap: 2em;
        /* Original width setting was min-content*/
        max-width: 1140px; 
        margin: 0 auto; 
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: 40% 60%;
    }

    /* Adding colored background to only right sided of header, may take out */
    .intro:before {
        content: ""; 
        position: absolute;
        right: 0%; 
        top: 0%; 
        width: 68%;
        height: 100%;  
        background-color: var(--color-light);  
        background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80); 
        background-size: cover; 
        background-blend-mode: multiply;
        
    }

    /* Setting color for left side of intro, may take out */

    .intro__container:before {
        content: ""; 
        position: absolute;
        left: 0%; 
        top: 0%; 
        width: 32%;
        height: 100%; 
        /* background-color: darkcyan;  */
        /* background: linear-gradient(#eb01a5, #d13531);    */
        /* background-image: url(https://images.unsplash.com/photo-1513624954087-ca7109c0f710?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
    }

    /* Considering adding another container for visual impact */
    /* /* .intro__container:after  */

    .intro__image {
        grid-area: img; 
        min-width: 600px;  
    }

    .section__title--intro {
        display: grid;
        align-content: start;
        /* these changes may need undone if responsivness is broken */
        position: absolute;
        bottom: 40%; 
        left: 55%; 
    }    

    .section__subtitle--intro {
        grid-row: 2; 
        position: absolute;
        bottom: 25%; 
        left: 55%; 
    }

    /* needed with the intro:before background setup */
    .intro__image, 
    .section__title--intro, 
    .section__subtitle--intro {
          z-index: 1;
    }

    .intro {
        /* background-image: url(https://images.unsplash.com/photo-1589306962951-b3da28bfdfac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80); */
        background-size: cover; 
        background-color: var(--color-light);
        background-blend-mode: multiply;
        /* Consider changing background color spashes */
        background-blend-mode: screen; 
    }
}

/* My skills section */

.my-skills {
    background-color: var(--color-dark); 
    background-image: url(images/artem-sapegin-b18TRXc8UPQ-unsplash.jpg);
    /* makes it so the background does not repeat */
    background-size: cover; 
    /* can be used to adjust the coloring of a background image with a background color */
    background-blend-mode: multiply;  
    color: var(--color-light); 
    text-align: center; 
    border-top: var(--color-accent) 15px solid;
}

.section__title--skills {
    color: var(--color-accent); 
    position: relative; 
}

.section__title--skills::after { 
    content: ""; 
    display: block;
    width: 3em; 
    height: 1px; 
    margin: .5em auto 1em; 
    /* could use currentColor below to match text color */
    background: var(--color-accent);
    opacity: 0.5;
}

.skills {
    margin-bottom: 4em;
}

/* Have two columns of icons at smaller sizes */

@media (min-width: 800px) {
    .skills {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: 2em auto 3em; 
        text-align: center;
    }
}

/* About Me section */

.about-me {
    max-width: 92%; 
    margin: 0 auto;
    
}

.about-me__image {
    box-shadow: var(--bs);
}

@media (max-width: 600px) {

    .section__title--about,
    .section__subtitle--about {
        text-align: center;
    }
}



@media (min-width: 600px){

    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px; 
        grid-template-areas: 
        "title img"
        "subtitle img"
        "content img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2; 
        position: relative;
        left: -1em; 
        width: calc(100% + 4em); 
        padding-left: 1em; 
    }

    .about-me__image {
        grid-row: 1/-1;
        grid-column: 2;
        position: relative;
        z-index: 2; 
    }
}

@media (min-width: 800px) {
    .about-me {
        grid-template-columns: 1fr 300px;
    }    
}

@media (max-width: 1000px) {
    .intro__image {
        min-width: 500px;
    }
}


