*,
*::before,
*::after {
    box-sizing: border-box;
} 

/* Custom Properties */

:root {
    --ff-primary: 'Economica', sans-serif;
    --ff-secondary: 'Source Sans Pro', sans-serif; 

    --fw-regular: 300; 
    --fw-bold: 900; 

    --color-light: #ffffff; 
    --color-dark: #303030; 
    --color-accent: #bbdde1; 
    --color-accent: #ffffff; 

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem; 
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        --fs-h1: 4.5rem;
        --fs-h2: 3.75rem;
        --fs-h3: 1.5rem; 
        --fs-body: 1.125rem;
    }
}

/* General Styles */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--color-light);
    color: var(--color-dark); 
    margin: 0; 
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6; 
}

section {
    padding: 5em 2em;
}

img {
    display: block; 
    max-width: 100%; 
}


.btn {
    display: inline-block; 
    padding: .5em 2.5em;
    background-color: var(--color-accent);
    text-decoration: none;
    color: var(--color-dark);
    /* text-transform: uppercase; */
    font-weight: var(--fw-bold);
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}

:focus .hamburger {
    margin: 5px;  
}

/* Typography */

h1, 
h2, 
h3 {
    line-height: 1;
    margin: 0; 
}

h1 {
    font-size: var(--fs-h1);
}

h2 {
    font-size: var(--fs-h2);
}

h3 {
    font-size: var(--fs-h3); 
}

strong {
    font-weight: var(--fw-bold);
}

.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: var(--ff-reg);
}

.section__subtitle {
    margin: 0;
    font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
    font-family: var(--ff-secondary);
    margin-bottom: 1em;
}

.section__subtitle--about {
    background-color: var(--color-accent);
}

.section__subtitle--work {
    font-weight: var(--fw-bold);
    margin-bottom: 2em;
}

.section__title--work {
    color: var(--color-accent);
}

/* Header */

/* @media (min-width: 600px) {
    header {
        /* padding: 1em; */
        /* position: fixed; 
        top: 0; 
        bottom: 0; 
        left: 0; 
        right: 0; 
        z-index: 100; */
    /* }  */
/* }  */

/* Nav all sizes */

.nav {
    position: fixed; 
    transform: translate(-100%); 
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    z-index: 100;
    transition: transform 250ms cubic-bezier(.5, 0, .5, 1);
}

.nav__list {
    list-style: none;
    display: flex; 
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0; 
}

.nav__list a {
    font-size: var(--fs-h2); 
    color: var(--color-accent);
    font-weight: var(--fw-bold);
    text-decoration: none;
}

.nav__link:hover {
    opacity: .5; 
}

.nav-toggle {
    padding: .5em; 
    background: transparent; 
    border: 0; 
    cursor: pointer;
    position: absolute; 
    z-index: 1000;
}


.hamburger { 
    display: block;
    position: relative;
}

.hamburger, 
.hamburger::before, 
.hamburger::after {
    background-color: var(--color-dark);
    width: 2em; 
    height: 4px; 
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

@media (max-width: 600px) {
    
    .nav-open .hamburger, 
    .nav-open .hamburger::before, 
    .nav-open .hamburger::after {
    background-color: var(--color-accent);
    }
}


.hamburger::after, 
.hamburger::before {
    content: ""; 
    position: absolute;
    left: 0; 
    right: 0; 
}

.hamburger::before {
    top: 8px; 
}

.hamburger::after {
    bottom: 8px; 
}

.nav-open .nav {
    transform: translateX(0);
}

.nav-open .nav-toggle {
    position: fixed; 
}

.nav-open .hamburger {
    transform: rotate(.625turn);
}

.nav-open .hamburger:before {
    transform: rotate(90deg) translateX(-8px);
}

.nav-open .hamburger:after {
    opacity: 0; 
}


/* Small screen header and nav*/
 
@media (max-width: 600px) { 

    header {
        padding: 1em; 
    }
    
    .nav {
        background-color: var(--color-dark);
        color: var(--color-light);

    }
    
    .nav__list {
            align-items: center;
            padding: 0; 
    }

    .nav-toggle {
        right: 1em; 
        top: 1em; 
    }
 } 


/* Nav on large screens */
/* Checked this section for hamburger scrolling issue */

@media (min-width: 600px) {

    .nav {
        background-color: transparent; 
        color: var(--color-accent);
    }

    .nav__list {
       max-height: 50%;
       padding-top: 2em;
    }
        
    .nav__list a {
        font-size: 2rem; 
        color: var(--color-dark);
        /* text-shadow: -1px 1px 0px #000,
                      1px 1px 0px #000,
                      1px -1px 0 #000,
                      -1px -1px 0 #000;     */
        letter-spacing: .2rem; 
    }

    .nav-toggle {
        left: 1em; 
        top: 1em;
    }
        
}

/* Intro Section */

.intro {
    position: relative; 
    background-color: var(--color-accent); /* setting the intro background color at small screens */
}

.section__title--intro {
    text-transform: uppercase; 
    font-size: 4.2em;
}

/* Skills */

.skill {
    margin: 1.5em 0;
}

@media (max-width: 600px) {
    .intro {
        position: relative; 
        bottom: 0;
        padding: 6em 2em 0; 
        margin: 0 auto;   
    }
}

/* May need to change this breakpoint depending on pics and text */
/* Look at area that text starts to overlap with picture */

@media (min-width: 600px) {

    .intro {
        padding: 15em 0em 0em 2em; 
    }

    .intro__container {
        display: grid; 
        grid-column-gap: 2em;
        /* Original width setting was min-content*/
        max-width: 1140px; 
        margin: 0 auto; 
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: 40% 60%;
    }

    /* Adding colored background to only right sided of header, may take out */
    .intro:before {
        content: ""; 
        position: absolute;
        right: 0%; 
        top: 0%; 
        width: 68%;
        height: 100%;  
        background-color: var(--color-accent);  
        /* background-image: url(https://images.unsplash.com/photo-1528460033278-a6ba57020470?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=675&q=80); */
        /* background-size: cover;  */
        
    }

    /* Setting color for left side of intro, may take out */

    .intro__container:before {
        content: ""; 
        position: absolute;
        left: 0%; 
        top: 0%; 
        width: 32%;
        height: 100%; 
        /* background-color: rgb(212, 84, 45);  */
        /* background-image: url(https://images.unsplash.com/photo-1513624954087-ca7109c0f710?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80); */
    }

    /* Considering adding another container for visual impact */
    /* /* .intro__container:after  */

    .intro__image {
        grid-area: img; 
        min-width: 600px;  
    }

    .section__title--intro {
        display: grid;
        align-content: start;
        /* these changes may need undone if responsivness is broken */
        position: absolute;
        bottom: 40%; 
        left: 55%; 
    }    

    .section__subtitle--intro {
        grid-row: 2; 
        position: absolute;
        bottom: 25%; 
        left: 55%; 
    }

    /* needed with the intro:before background setup */
    .intro__image, 
    .section__title--intro, 
    .section__subtitle--intro {
          z-index: 1;
    }

    /* sets the background for full intro if not using before/after sudo elements for color*/

    .intro {
        background-color: var(--color-light);
        /* background-image: url(https://images.unsplash.com/photo-1589306962951-b3da28bfdfac?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80); */
        background-size: cover; 
        /* background-blend-mode: multiply; */
        /* Consider changing background color spashes */
    }
}

@media (max-width: 1000px) {
    .intro__image {
        min-width: 500px;
    }
}

/* My skills section */

.my-skills {
    background-color: var(--color-dark); 
    background-image: url(images/artem-sapegin-b18TRXc8UPQ-unsplash.jpg);
    /* makes it so the background does not repeat */
    background-size: cover; 
    /* can be used to adjust the coloring of a background image with a background color */
    background-blend-mode: multiply;  
    color: var(--color-light); 
    text-align: center; 
}

.section__title--skills {
    color: var(--color-accent); 
    position: relative; 
}

.section__title--skills::after { 
    content: ""; 
    display: block;
    width: 3em; 
    height: 1px; 
    margin: .5em auto 1em; 
    /* could use currentColor below to match text color */
    background: var(--color-accent);
    opacity: 0.5;
}

.skills {
    margin-bottom: 4em;
    font-size: 3.5rem;
}


@media (min-width: 600px) {

    .my-skills {
        border-top: var(--color-accent) 15px solid;
    }
}

/* Have two columns of icons at smaller sizes ?*/


@media (min-width: 800px) {
    .skills {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: 2em auto; 
        text-align: center;
    }
}

/* About Me section */

.about-me {
    max-width: 92%; 
    margin: 0 auto;    
}

.about-me__image {
    box-shadow: var(--bs);
}

@media (max-width: 600px) {

    .section__title--about,
    .section__subtitle--about {
        text-align: center;
    }
}

@media (min-width: 600px){

    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px; 
        grid-template-areas: 
        "title img"
        "subtitle img"
        "content img";
        grid-column-gap: 2em;
    }

    .section__title--about {
        grid-area: title;
    }

    .section__subtitle--about {
        grid-column: 1/-1;
        grid-row: 2; 
        position: relative;
        left: -1em; 
        width: calc(100% + 4em); 
        padding-left: 1em; 
    }

    .about-me__image {
        grid-row: 1/-1;
        grid-column: 2;
        position: relative;
        z-index: 2; 
    }
}

@media (min-width: 800px) {
    .about-me {
        grid-template-columns: 1fr 300px;
    }    
}

/* My Work */

.my-work {
    background-color: var(--color-dark);
    color: var(--color-light); 
    text-align: center;
}

.work__content {
    display: grid; 
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    grid-auto-rows: 1fr;
    grid-row-gap: 3em;
}

.work__image {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.work__item {
    background-color: var(--color-accent);
    overflow: hidden;
    margin: 0 1.5em; 
}

.work__image {
    transition: transform 750ms cubic-bezier(.5, 0, .5, 1), 
    opacity 250ms linear; 
}

.work__image:hover {
    transform: scale(1.2) ;
    opacity: .5;
}

/* Footer */

.contact {
    background-color: #111;
    text-align: center; 
    color: var(--color-accent);
    padding: 3em 0; 
}

.contact a {
    color: var(--color-accent);
    text-decoration: none;
}

.contact__link {
    font-weight: var(--fw-bold);
    font-size: 1.75rem;
}

.contact__link:hover, 
.contact-list__item:hover {
    opacity: .5;
}

.contact-list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: .5em 0; 
    padding: 0;
    font-size: 2rem; 
}

.contact-list__item {
    margin: 0 .5em; 
}

.contact-list__link {
    padding: .2em;
}

.fa-arrow-right {
    padding-left: .5em;
}

